<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Presentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <header class="presentation-header">
      <div class="container">
        <h1 class="presentation-title">¡Bienvenido al Portafolio de Diego Lobos!</h1>
        <p class="presentation-subtitle">Introducción al desarrollo de aplicaciónes.</p>
      </div>
    </header>

    <div class="content">
      <p class="presentation"> Los proyectos de Ruby abarcan una amplia gama de aplicaciones, desde el desarrollo de sitios web y aplicaciones web, hasta la creación de scripts, automatización de tareas y desarrollo de aplicaciones de línea de comandos.
         Los proyectos de Ruby se benefician de una amplia gama de bibliotecas y gemas disponibles a través del gestor de paquetes de Ruby, RubyGems. Estas gemas son módulos y bibliotecas que pueden ser incorporados a un proyecto para agregar funcionalidades específicas, como autenticación de usuarios, envío de correos electrónicos, manipulación de imágenes y más.</p>


    </div>

    <script src="script.js"></script>
  </body>
</html>




